<h2>
  Bienvenu sur notre plateforme de mise en relation nidoops
</h2>
<p>
  "Nidoops" est une plateforme de mise en relation permettant aux utilisateurs d'échanger										
  avec les structures d'appuie du secteur privé, suivre l'actualités  des structures 										
  et pouvoir saisir les oportnuités à temps																	
</p>
<p>
  Nidoops permettra aux porteurs de projets et chercheurs d’emploi d’avoir des bons conseils										
  en fonction de leur différent statut en leur mettant en relation avec les structure 										
  qui peuvent les aider										
                      
  Permettre à une structure d’avoir son propre espace dont le contenu sera personnalisable 										
  et les différents visiteurs pourront y accéder										
</p>

<% if user_signed_in? %>
    <%if current_user.try(:admin?) %>
        <%= render partial: 'accueils/admin' %>
    <%else%>
        <%= render partial: 'accueils/utilisateur' %>
    <%end%>    
<%end%>  

<% if structure_signed_in? %>
     <%= render partial: 'accueils/structure' %>
<%end%>  


<% if !structure_signed_in? && !user_signed_in? %>
    <%= render partial: 'accueils/autre' %>
<%end%>  