<p id="notice"><%= notice %></p>

<h1>Structures</h1>

<table>
  <thead>
    <tr>
      <th>Alias</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @structures.each do |structure| %>
      <tr>
        <td><%= structure.alias %></td>
        <td><%= structure.email %></td>
        <td><%= link_to 'Show', structure %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

