<h1>Edit Profile structure</h1>

<%= render 'form', profile_structure: @profile_structure %>

<%= link_to 'Back', :back , class: "back btn btn-info"%>
<%= link_to 'Voir', profile_structure_path(current_structure)  , class: " btn btn-succcess"%>