@import '~bootstrap/scss/bootstrap';
.delete {
    color: #F84343; /* Remplacez par la couleur souhaitée */
}

.edit {
 
    color: #5FCAD9; /* Remplacez par la couleur souhaitée */
}

.commentaire_card {
    margin-top: 2%;
 
    width: 40%;
    height:100%;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #FFF;
    background: #FFF;
    color: #000000;
}  
  
 .commentaire_card_content {
    display:flex; 
    justify-content: space-between;
    margin-left: 10px;
    margin-right:5px;
}
.commentaire_card_time {
    margin-left: 10px;
    font-weight: lighter;
    font-size: small;
}













/*Structure*/

.border{
    height: 100%;
   
    position: relative;
    // left: 10%; 
    border-radius: 10px;
    
    background-color: #C8FCEA;
}
button {
    border:  1px;
    border-radius: 10px;
    background-color:#00754B;
    margin-top: 20px;
    height: 40px;
    // margin-left: 40px;

}
.flexdiv{
  display: flex;
  justify-content: space-between;
}

.menu-button {
    width: auto;
    
    display: flex;
    justify-content: flex-start;
    font-size: 1rem;


   
}/* 
.menu-button .mat-icon {
    margin-right: 8px;
} */

.gauche{
  border-top-left-radius: 10px;
  padding-right: 35px;
    }

    .droite{
        border-top-right-radius: 10px;
        padding-left: 35px;
          }

          .milieu{
            padding-left: 35px;
          
          }
th{
  background-color: #5FCAD9;
  border: none;
  color: white;
  padding: 5px;
  font-size: 20px!important;
}
tr td{
  border-bottom: black;
  font-size: 1rem!important;
  width: fit-content;
  padding: 5px;
}
.conatiner{
}

.visibility{
  color: #00754B;
  cursor: pointer;

}
.delete{
  color: #F8325E;
  cursor: pointer;
}
.update{
  color: #67C25E;
  cursor: pointer;
}

.header{
    display: flex;
    justify-content: space-between;
}

.header_span{
color:black;
font-size: 28px;
font-weight: 500;
}
.header_content{
    font-size: 18px;
    font-weight: 300;   
}
.header_content{
  display: flex;
  justify-content: center;
  font-size: 28px;
  font-weight: 400; 
}
.me-1{
  color: #5FCAD9;
  font-weight: 800;
}
.content{
    position: relative;
    left: 2%;
}
// .wholetable{
//     position: relative;
//     left: 2%;
// }
.icon{
    font-size: 28px;
}
table{
    width: 100%;
}