<h1>Edit Profile utilisateur</h1>

<%= render 'form', profile_user: @profile_user %>


<%= link_to 'Back', :back , class: "back btn btn-info"%>
<%= link_to 'Voir', profile_user_path(current_user) , class: " btn btn-succcess"%>
